.navbar-brand {
    color: rgb(62, 62, 90);
    
}
#blue {
    box-shadow: 5px 3px 3px rgb(53, 52, 52);
    margin-bottom: 30px;
}
#kit {
    margin-right: 5rem;
}

#kat { 
    margin-right: 70rem;
}
